.leftBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px 0px;
  border-right: 1px solid #e9e9e9;
  z-index: 2000;
}

.menuIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.menuIcon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* needed for tooltip positioning */
  cursor: pointer;
}

.menuIcon:hover {
  background-color: #f1f1f1;
  border-radius: 35%;
}

/* Tooltip */
.menuIcon::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 60px; /* space to the right of the sidebar */
  top: 50%;
  transform: translateY(-50%);
  background-color: #111;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 1000;   /* 👈 ensure tooltip is above everything */
}


.menuIcon:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}


.logo{
  width: 24px;
  height: 24px;
}
